<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="padding-left: 10px">App</span>
    <span class="app-spacer"></span>

    <!----- menu ----->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>fingerprint</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>announcement</mat-icon>
        <span>Issues</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable Alert</span>
      </button>
    </mat-menu>
    <!----- menu ----->
  </mat-toolbar-row>
</mat-toolbar>
