<div class="container"
     fxFlex
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">


  <div class="item item-1" fxFlex>
    <mat-card class="example-card">
      <mat-card-content fxFlex>
        <ngx-charts-linear-gauge
          [view]="view"
          [scheme]="colorScheme1"
          [value]="60"
          [previousValue]="80"
          [min]="0"
          [max]="100"
          [units]="'alerts'"
          (select)="onSelect($event)">
        </ngx-charts-linear-gauge>
      </mat-card-content>
    </mat-card>
  </div>


  <br>


  <div class="item item-1" fxFlex>
    <mat-card class="example-card">
      <mat-card-content fxFlex>
        <ngx-charts-linear-gauge
          [view]="view"
          [scheme]="colorScheme2"
          [value]="60"
          [previousValue]="80"
          [min]="0"
          [max]="100"
          [units]="'alerts'"
          (select)="onSelect($event)">
        </ngx-charts-linear-gauge>
      </mat-card-content>
    </mat-card>
  </div>


  <br>

  <div class="item item-1" fxFlex>
    <mat-card class="example-card">
      <mat-card-content fxFlex>
        <ngx-charts-linear-gauge
          [view]="view"
          [scheme]="colorScheme3"
          [value]="60"
          [previousValue]="80"
          [min]="0"
          [max]="100"
          [units]="'alerts'"
          (select)="onSelect($event)">
        </ngx-charts-linear-gauge>
      </mat-card-content>
    </mat-card>
  </div>



</div>
